<header class="header header--detailIndent" id="header">
  <a href="" class="logo">
    <img src="./../../../../assets/img/logo.png" alt="logo">
  </a>
  <form action="#" class="form form--search form--borderColor">
    <button type="submit" class="form__searchSubmit"></button>
    <input type="search" class="form__searchInput" placeholder="Try find somethink">
  </form>
  <div class="userMenuWrapper userMenuWrapper--bgColor">
    <div class="userMenuAuthWrapper" *ngIf="currentUser; else notAuth">
      <div class="userMenu userMenu--auth">
        <div class="user user--usrMenuIndent">
          <a class="user__avatar" href="" routerLink="login">
            <img src="./../../../../assets/img/userAvatar.png" alt="avatar">
          </a>
          <p class="user__name user__name--whiteColor">{{currentUser.username}}</p>
        </div>
        <button class="userMenu__logout" (click)="logout()">
          <img src="./../../../../assets/img/logoutIcon.png" alt="logout icon">
        </button>
      </div>
      <div class="userMenuNav">
        <a href="" class="userMenuNav__item" routerLink="addAdvert">Add new post</a>
        <a href="" class="userMenuNav__item" routerLink="profile">Profile</a>
      </div>
    </div>
    <ng-template #notAuth>
      <p class="userMenu--notAuth">
        Welcome,
        <a href="" routerLink="/login">login</a>
        or
        <a href="" routerLink="/login">register</a>
        for start
      </p>
    </ng-template>
  </div>
</header>
