<app-header></app-header>
<section class="productList" appInfinityScroll>
  <div class="productsWrapper">
    <div *ngFor="let product of this.productDataService.changedData" class="productItem">
      <div class="productItem__img">
        <img src="{{product.srcImg}}" alt="hello">
      </div>
      <div class="productItem__descr">
        <p class="productItem__title">
          {{product.title}}
        </p>
      </div>
    </div>
  </div>
  <button type="button" class="scrollToTop" appScrollToTop></button>
</section>
