<form
  [formGroup]="signUpForm"
  class="tabContent__item"
  (submit)="handleSubmit()"
>
  <input
    type="text"
    class="input"
    placeholder="Enter your username"
    formControlName="userName"
    [class.alert]="signUpForm.get('userName').errors && signUpForm.get('userName').dirty"
    [class.valid]="signUpForm.get('userName').valid && signUpForm.get('userName').dirty"
  >
  <input
    type="text"
    class="input"
    placeholder="Enter your fisrt name"
    formControlName="firstName"
    [class.alert]="signUpForm.get('firstName').errors && signUpForm.get('firstName').dirty"
    [class.valid]="signUpForm.get('firstName').valid && signUpForm.get('firstName').dirty"
  >
  <input
    type="text"
    class="input"
    placeholder="Enter your last name"
    formControlName="lastName"
    [class.alert]="signUpForm.get('lastName').errors && signUpForm.get('lastName').dirty"
    [class.valid]="signUpForm.get('lastName').valid && signUpForm.get('lastName').dirty"
  >
  <input
      type="password"
      class="input"
      placeholder="Enter password"
      formControlName="password"
      [class.alert]="signUpForm.get('password').errors && signUpForm.get('password').dirty"
      [class.valid]="signUpForm.get('password').valid && signUpForm.get('password').dirty"
  >
  <input
    type="password"
    class="input"
    placeholder="Confirm password"
    formControlName="confirmPassword"
    [class.alert]="signUpForm.get('confirmPassword').errors && signUpForm.get('confirmPassword').dirty"
    [class.valid]="signUpForm.get('confirmPassword').valid && signUpForm.get('confirmPassword').dirty"
  >
  <button
    type="submit"
    class="submitBtn"
    [disabled]="!signUpForm.valid"
  >Sign Up</button>
</form>
