<form
  [formGroup]="signUpForm"
  class="tabContent__item"
  (submit)="handleSubmit()"
>
  <input
    type="text"
    class="input"
    placeholder="Enter your username"
    formControlName="username"
  >
  <app-error
    *ngIf="signUpForm.get('username').invalid && signUpForm.get('username').dirty"
    [Input]="signUpForm.get('username')">
  </app-error>
  <input
    type="text"
    class="input"
    placeholder="Enter email"
    formControlName="email"
  >
  <app-error
    *ngIf="signUpForm.get('email').invalid && signUpForm.get('email').dirty"
    [Input]="signUpForm.get('email')">
  </app-error>
  <input
      type="password"
      class="input"
      placeholder="Enter password"
      formControlName="password1"
  >
  <app-error
    *ngIf="signUpForm.get('password1').invalid && signUpForm.get('password1').dirty"
    [Input]="signUpForm.get('password1')"></app-error>
  <input
    type="password"
    class="input"
    placeholder="Confirm password"
    formControlName="password2"
  >
  <app-error *ngIf="signUpForm.get('password2').invalid && signUpForm.get('password2').dirty" [Input]="signUpForm.get('password2')"></app-error>
  <button
    type="submit"
    class="submitBtn"
    [disabled]="!signUpForm.valid"
  >Sign Up</button>
</form>
