<form
  class="tabContent__item"
  [formGroup]="signInForm"
  (ngSubmit)="handleSubmit()"
>
  <input
    formControlName="email"
    class="signInEmail input"
    type="email"
    placeholder="email">
  <app-error
    *ngIf="email.invalid && email.dirty"
    [Input]="email"></app-error>
  <input
    formControlName="password"
    class="signInPswr input"
    type="password"
    placeholder="Password">
  <app-error
    *ngIf="password.invalid && password.dirty"
    [Input]="password"></app-error>
  <button
    class="submitBtn"
    type="submit"
    [disabled]="!signInForm.valid"
  >
    Log In</button>
</form>
