<form
  class="tabContent__item"
  [formGroup]="signInForm"
  (submit)="handleSubmit()"
>
  <input
    formControlName="userEmail"
    class="signInEmail input"
    type="email"
    placeholder="email">
  <app-error
    *ngIf="userEmail.invalid && userEmail.dirty"
    [Input]="userEmail"></app-error>
  <input
    formControlName="userPassword"
    class="signInPswr input"
    type="password"
    placeholder="Password">
  <app-error
    *ngIf="userPassword.invalid && userPassword.dirty"
    [Input]="userPassword"></app-error>
  <button
    class="submitBtn"
    type="submit"
    [disabled]="!signInForm.valid"
  >
    Log In</button>
</form>
